#calc {
  cursor: pointer;
}
.container {
  width: 100px;
  clear: both;
}
.container input {
  width: 100%;
  clear: both;
}
#givenlength{
  position: absolute;
   top: 134px; 
   left: 155px; 
}
#givenwidth{
  position: absolute;
   top: 160px; 
   left: 74px; 
}
#givenheight{
  position: absolute;
   top: 102px; 
   left: 25px; 
}
#squareWalls{
  position: absolute;
  top: 102px; 
  left: 70px; 
  font-weight:bold;
  background-color:white;
  color:red;
}